<div class="partie1">
  <h1 id="h1">#Stayhome</h1>
  <p>Save more  with coupons & up to 70% off!</p>
</div>

<!-- component2 -->
<div class="container3 d-flex justify-content-center align-items-center">
  <div class="partie3">
    <div class="card">
      <img src="../../assets/products/f1.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
        <div class="e1 d-flex align-items-center ">
          <p class="e">$78</p>
          <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f2.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f3.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f4.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f5.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f6.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f7.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f8.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p >adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n1.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
        <div class="e1 d-flex align-items-center ">
          <p class="e">$78</p>
          <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n2.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n3.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n4.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n5.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" (click)="push()" routerLink="/achat"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n6.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n7.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n8.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p >adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- pagination -->
<div class="pagination d-flex justify-content-center align-items-center ">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled  d-flex justify-content-center align-items-center bg-success ">
        <a class="page-link text-white bg-success">Previous</a>
      </li>
      <li class="page-item d-flex justify-content-center align-items-center bg-warning "><a class="page-link text-white" href="#">1</a></li>
      <li class="page-item active d-flex justify-content-center align-items-center bg-primary" aria-current="page">
        <a class="page-link text-white bg-primary" href="#">2 <span class="visually-hidden">(current)</span></a>
      </li>
      <li class="page-item d-flex justify-content-center align-items-center bg-warning"><a class="page-link text-white" href="#">3</a></li>
      <li class="page-item d-flex justify-content-center align-items-center bg-success ">
        <a class="page-link bg-success text-white" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>

