<div class="partie1">
  <h1 id="h1">#readmore</h1>
  <p>Read all case studies about our products!</p>
</div>
<div class="container1">
  <div class="p1">
    <h1>13/01</h1>
  </div>
  <div class="p2">
    <div class="p21">
      <img src="../../assets/blog/b1.jpg" alt="Erreur">
    </div>
    <div class="p22 d-flex justify-content-center align-items-center">
      <h3>The Cotton-Jersey Zip-Up Hoodie</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perspiciatis, pariatur odio consectetur ratione saepe ab nobis error exercitationem voluptatem?</p>
      <a href="#">CONTINUE READING----------------------</a>
    </div>
  </div>
</div>
<div class="container1">
  <div class="p1">
    <h1>13/04</h1>
  </div>
  <div class="p2">
    <div class="p21">
      <img src="../../assets/blog/b2.jpg" alt="Erreur">
    </div>
    <div class="p22">
      <h3>How to Style a Quiff</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perspiciatis, pariatur odio consectetur ratione saepe ab nobis error exercitationem voluptatem?</p>
      <a href="#">CONTINUE READING----------------------</a>
    </div>
  </div>
</div>
<div class="container1">
  <div class="p1">
    <h1>17/05</h1>
  </div>
  <div class="p2">
    <div class="p21">
      <img src="../../assets/blog/b3.jpg" alt="Erreur">
    </div>
    <div class="p22">
      <h3>Must-Have Skater Girl Items</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perspiciatis, pariatur odio consectetur ratione saepe ab nobis error exercitationem voluptatem?</p>
      <a href="#">CONTINUE READING----------------------</a>
    </div>
  </div>
</div>
<div class="container1">
  <div class="p1">
    <h1>18/06</h1>
  </div>
  <div class="p2">
    <div class="p21">
      <img src="../../assets/blog/b4.jpg" alt="Erreur">
    </div>
    <div class="p22">
      <h3>Runway-Inspired Trends</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perspiciatis, pariatur odio consectetur ratione saepe ab nobis error exercitationem voluptatem?</p>
      <a href="#">CONTINUE READING----------------------</a>
    </div>
  </div>
</div>
<div class="container1">
  <div class="p1">
    <h1>19/09</h1>
  </div>
  <div class="p2">
    <div class="p21">
      <img src="../../assets/blog/b6.jpg" alt="Erreur">
    </div>
    <div class="p22">
      <h3>AW20 Menswear-Trends</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perspiciatis, pariatur odio consectetur ratione saepe ab nobis error exercitationem voluptatem?</p>
      <a href="#">CONTINUE READING-----------------------</a>
    </div>
  </div>
</div>

<!-- pagination -->
<div class="pagination d-flex justify-content-center align-items-center ">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled  d-flex justify-content-center align-items-center bg-success ">
        <a class="page-link text-white bg-success">Previous</a>
      </li>
      <li class="page-item d-flex justify-content-center align-items-center bg-warning "><a class="page-link text-white" href="#">1</a></li>
      <li class="page-item active d-flex justify-content-center align-items-center bg-primary" aria-current="page">
        <a class="page-link text-white bg-primary" href="#">2 <span class="visually-hidden">(current)</span></a>
      </li>
      <li class="page-item d-flex justify-content-center align-items-center bg-warning"><a class="page-link text-white" href="#">3</a></li>
      <li class="page-item d-flex justify-content-center align-items-center bg-success ">
        <a class="page-link bg-success text-white" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
