<!-- component1 -->
<div class="partie1">
  <div class="partie11">
    <h3>Trade-in-offer</h3>
    <h1>Super Value deals <br><span>On all products</span></h1>
    <p>Save more with  coupons & up to 70% off !</p>
    <div class="btn1"><a routerLink="/shop">Shop Now</a></div>
  </div>
</div>
<!--
  component2 -->

 <div class="container2">
<div class="container22">
  <div class="card">
    <img src="../../assets/f1.png" alt="Erreur">
    <div class="c1" [ngStyle]="{
      backgroundColor:'pink',color:'deepskyblue'
    }">
      <p> Free Shipping</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/f2.png" alt="Erreur">
    <div class="c1" [ngStyle]="{
      backgroundColor:'greenyellow',color:'green'
    }">
      <p>Online Order</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/f3.png" alt="Erreur">
    <div class="c1" [ngStyle]="{
      backgroundColor:'rgb(167, 214, 250)',color:'darkcyan'
    }">
<p>Save Money</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/f4.png" alt="Erreur">
    <div class="c1" [ngStyle]="{
      backgroundColor:'rgb(208, 206, 223)',color:'darkcyan'
    }">
      <p>Promotions</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/f5.png" alt="Erreur">
    <div class="c1"  [ngStyle]="{
      backgroundColor:'rgb(227, 204, 224)',color:'darkcyan'
    }">
      <p>Happy Sell</p>
    </div>
  </div>
  <div class="card" >
    <img src="../../assets/f6.png" alt="Erreur">
    <div class="c1" [ngStyle]="{
      backgroundColor:'bisque',color:'darkcyan'
    }">
      <p>F24/7 Support</p>
    </div>
  </div>
</div>
</div>
<!-- Component3 -->
<div class="titre1 d-flex align-items-center justify-content-center ">
  <h1 class="text-center">Featured Products</h1>
  <p class="text-center">Summer Collection New Modern Design</p>
</div>
<div class="container3 d-flex justify-content-center align-items-center">
  <div class="partie3">
    <div class="card">
      <img src="../../assets/products/f1.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
        <div class="e1 d-flex align-items-center ">
          <p class="e">$78</p>
          <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f2.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f3.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f4.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f5.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f6.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f7.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/f8.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p >adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- component4 -->
<div class="partie4">
  <p>Repair Services</p>
  <h1>Up to <span>70% Off</span>-All t-Shirts & Accessories</h1>
  <div class="btn btn-light text-center d-flex justify-content-center align-items-center " routerLink="/shop">Explore More</div>
</div>
<!-- com^ponent5 -->
<div class="titre1 d-flex align-items-center justify-content-center ">
  <h1 class="text-center">New Arrivals</h1>
  <p class="text-center">Summer Collection New Modern Design</p>
</div>
<div class="container3 d-flex justify-content-center align-items-center">
  <div class="partie3">
    <div class="card">
      <img src="../../assets/products/n1.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
        <div class="e1 d-flex align-items-center ">
          <p class="e">$78</p>
          <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n2.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n3.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n4.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n5.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping"(click)="push()" routerLink="/achat"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n6.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n7.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p>adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/products/n8.jpg" class="card-img-top" alt="Erreur">
      <div class="card-body">
        <p >adidas</p>
        <h1>Cartoon Astronaut T-Shirts</h1>
        <div class="rating">
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
      </div>
      <div class="e1 d-flex align-items-center ">
        <p class="e">$78</p>
        <i class="fa-solid fa-cart-shopping" routerLink="/achat" (click)="push()"></i>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- component6 -->
<div class="container6">
  <div class="partie6">
    <div class="p61 ">
      <h3>Crazy deals</h3>
      <h1>buy 1 get free</h1>
      <p>The best classic dress is on sale ata cara</p>
      <div class="btn btn-outline-light text-center d-flex align-items-center justify-content-center">Learn More</div>
    </div>
    <div class="p62">
  <h3>Spring/Summer</h3>
  <h1>Upcoming Season</h1>
  <p>The best classic dress is on sale at cara</p>
  <div class="btn btn-outline-light text-center d-flex align-items-center justify-content-center">Collection</div>
    </div>
    <div class="p63 d-flex justify-content-center align-items-center ">
      <h1>SEASONALSALE</h1>
      <h3>Winter Collection -50% off</h3>
    </div>
    <div class="p64 d-flex justify-content-center align-items-center">
      <h1>NEW FOOTWEAR COLLECTION</h1>
      <h3>Spring/summer 2023</h3>
    </div>
    <div class="p65 d-flex justify-content-center align-items-center">
      <h1>T-SHIRTS</h1>
      <h3>New TRendy Prints</h3>
    </div>
  </div>
</div>

